:root {
  --background-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --hero-footer-bg-color: #2f303a;
  --text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --footer-contact-text: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --border-color: #eeeeee;
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}

/* NAVIGATION */
header {
  background-color: var(--primary-white-color);
}

.studio-logo {
  text-decoration: none;
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:focus,
.link:hover {
  color: var(--accent-color);
}

.site-nav .active {
  color: var(--accent-color);
}

/* CONTACTS */
.contacts a {
  color: var(--text-color);
  text-decoration: none;
}

/* HERO SECTION */
.hero-section {
  background-color: var(--hero-footer-bg-color);
}

.hero-section-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87px;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* DESCRIPTION SECTION */

.description-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* ABOUT US SECTION */
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

/* TEAM SECTION */
.team-section {
  background-color: var(--secondary-bg-color);
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.profession-title {
  font-size: 16px;
  line-height: 1.18;
}

/* Footer */
.footer-section {
  background-color: var(--hero-footer-bg-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

address {
  font-style: normal;
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

/* PORTFOLIO PAGE */

.radio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  border: 0;
}
.radio-button:focus,
.radio-button:hover {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* PROJECTS */

.projects-list a {
  text-decoration: none;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects-item {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color);
}
